language: rust

matrix:
  include:
    # Linux 32bit
    - env: TARGET=i686-unknown-linux-gnu
      os: linux
      rust: nightly
      addons:
        apt:
          # Cross compiler and cross compiled C libraries
          packages: &i686_packages
            - gcc-multilib
    - env: TARGET=i686-unknown-linux-gnu
      os: linux
      rust: stable
      addons:
        apt:
          packages: *i686_packages
    - env: TARGET=i686-unknown-linux-gnu
      os: linux
      rust: 1.37.0
      addons:
        apt:
          packages: *i686_packages

    # Linux 64bit
    - env: TARGET=x86_64-unknown-linux-gnu
      os: linux
      rust: nightly
    - env: TARGET=x86_64-unknown-linux-gnu
      os: linux
      rust: stable
    - env: TARGET=x86_64-unknown-linux-gnu
      os: linux
      rust: 1.37.0

    # macOS
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: stable
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: 1.37.0

    # iOS
    - env: TARGET=x86_64-apple-ios
      os: osx
      rust: nightly
    - env: TARGET=x86_64-apple-ios
      os: osx
      rust: stable
    - env: TARGET=x86_64-apple-ios
      os: osx
      rust: 1.37.0

    # Xcode
    - env: TARGET=x86_64-apple-ios
      rust: stable
      os: osx
      osx_image: xcode11.2
      xcode_destination: platform=iOS Simulator,name=iPhone 11 Pro,OS=13.2
      script:
        - make -C glutin_examples/ios-example ci

addons:
  apt:
    packages:
    - libxxf86vm-dev
    - libosmesa6-dev

env:
  global:
    - secure: "kVjHgK+6ivT5tUleNH/m6+69tPf8gkPNSPLsnXrkMJaIeXSnnKKQegP1O0UCThYAUbbwrUGlrKJUngDxkD8jSANhzAULX9t1iXho41InzYBEErTanXBYF8WO1rK1keKjLwiYw4KuvbiBoSeKabzQRwv0kMttxY57+hKVROr5dSg="
    - secure: g4ZP621rbq7nPU8Df9/92haJda2R+Sb84lUQIONh6JDTrgw7/mnfmbnZGzXo3gpjKZCuPfdu8D0knMjn7aLaI7U1yczzNs2wwD+G8txNN/rM7VEuzk8BN0Kl1iKbnY9ZtAGLVTMSR6NVAKWAaisNkMLpWDiftTNOkXxTQYerxvw=

install:
  - rustup self update
  - rustup target add $TARGET; true

script:
  - cargo build --target $TARGET --verbose
    # Running iOS apps on OSX requires the simulator so we skip that for now
  - if [ "$TARGET" != "x86_64-apple-ios" ]; then cargo test --target $TARGET --verbose; fi

after_success:
  - |
        [ $TRAVIS_BRANCH = master ] &&
        [ $TRAVIS_PULL_REQUEST = false ] && {
            cd glutin
            cargo publish --token ${CRATESIO_TOKEN}
        }
