[workspace]
resolver = "2"
members = [
    "glutin",
    "glutin-winit",
    "glutin_examples",
    "glutin_egl_sys",
    "glutin_glx_sys",
    "glutin_wgl_sys",
    "glutin_gles2_sys",
]

[workspace.package]
# MSRV. Also update in ci.yml
rust-version = "1.85.0"
edition = "2024"
