[package]
name = "glutin_examples"
version = "0.1.2"
authors = ["The glutin contributors", "Hal Gentz <zegentzy@protonmail.com>"]
description = "Examples for glutin"
repository = "https://github.com/rust-windowing/glutin"
license = "Apache-2.0"
readme = "../README.md"
build = "build.rs"
edition = "2021"
publish = false

[features]
default = ["egl", "glx", "x11", "wayland", "wgl"]
egl = ["glutin/egl"]
glx = ["glutin/glx", "glutin/x11", "winit/x11"]
wgl = ["glutin/wgl"]
x11 = ["glutin/x11", "winit/x11"]
wayland = ["glutin/wayland", "winit/wayland", "winit/wayland-dlopen", "winit/wayland-csd-adwaita-notitle"]

[dependencies]
glutin = { path = "../glutin", default-features = false }
winit = { version = "0.27.2", default-features = false }
raw-window-handle = "0.5.0"

[build-dependencies]
gl_generator = "0.14"
cfg_aliases = "0.1.1"