[package]
name = "glutin"
version = "0.28.0"
authors = [
  "The glutin contributors",
  "Pierre Krieger <pierre.krieger1708@gmail.com>",
]
description = "Cross-platform OpenGL context provider."
keywords = ["windowing", "opengl"]
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/rust-windowing/glutin"
documentation = "https://docs.rs/glutin"
edition = "2021"
rust-version = "1.57"

[package.metadata.docs.rs]
features = ["serde"]

[features]
default = ["x11", "wayland", "wayland-dlopen", "wayland-csd-adwaita"]
serde = ["winit/serde"]
x11 = ["winit/x11", "glutin_glx_sys"]
wayland = ["winit/wayland", "winit/wayland-dlopen", "wayland-client", "wayland-egl"]
wayland-dlopen = ["winit/wayland-dlopen"]
kms = ["drm", "gbm", "winit/kms"]
kms-ext = ["winit/kms-ext"]
default = ["x11", "wayland", "wayland-dlopen", "kms"]

[dependencies]
once_cell = "1.13"
# winit = { version = "0.27.1", default-features = false }
winit = { git = "https://github.com/StratusFearMe21/winit", default-features = false }

[target.'cfg(target_os = "android")'.dependencies]
glutin_egl_sys = { version = "0.1.6", path = "../glutin_egl_sys" }
libloading = "0.7"
parking_lot = "0.12"
raw-window-handle = "0.5"

[target.'cfg(any(target_os = "ios", target_os = "macos"))'.dependencies]
objc = "0.2.7"
glutin_gles2_sys = { version = "0.1.5", path = "../glutin_gles2_sys" }

[target.'cfg(target_os = "macos")'.dependencies]
cgl = "0.3.2"
cocoa = "0.24.0"
core-foundation = "0.9.3"

[target.'cfg(target_os = "windows")'.dependencies.winapi]
version = "0.3.9"
features = ["winnt", "winuser", "wingdi", "libloaderapi"]

[target.'cfg(target_os = "windows")'.dependencies]
libloading = "0.7.3"
glutin_wgl_sys = { version = "0.1.5", path = "../glutin_wgl_sys" }
glutin_egl_sys = { version = "0.1.6", path = "../glutin_egl_sys" }
parking_lot = "0.12"

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os = "dragonfly", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
osmesa-sys = "0.1"
wayland-client = { version = "0.29.4", features = ["dlopen"], optional = true }
wayland-egl = { version = "0.29.4", optional = true }
libloading = "0.7"
glutin_egl_sys = { version = "0.1.6", path = "../glutin_egl_sys" }
glutin_glx_sys = { version = "0.1.8", path = "../glutin_glx_sys", optional = true }
parking_lot = "0.12"
log = "0.4"
drm = { version = "0.6.2", optional = true }
gbm = { version = "0.8", optional = true }
