[package]
name = "glutin"
version = "0.28.0"
authors = ["The glutin contributors", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "Cross-platform OpenGL context provider."
keywords = ["windowing", "opengl"]
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/rust-windowing/glutin"
documentation = "https://docs.rs/glutin"
edition = "2018"

[package.metadata.docs.rs]
features = ["serde"]

[features]
serde = ["winit/serde"]
x11 = ["winit/x11", "glutin_glx_sys"]
wayland = ["winit/wayland", "winit/wayland-dlopen", "wayland-client", "wayland-egl"]
wayland-dlopen = ["winit/wayland-dlopen"]
default = ["x11", "wayland", "wayland-dlopen"]

[dependencies]
lazy_static = "1.3"
winit = { version = "0.26", default-features = false }

[target.'cfg(target_os = "android")'.dependencies]
android_glue = "0.2"
glutin_egl_sys = { version = "0.1.5", path = "../glutin_egl_sys" }
parking_lot = "0.11"

[target.'cfg(target_os = "emscripten")'.dependencies]
glutin_emscripten_sys = { version = "0.1.1", path = "../glutin_emscripten_sys" }

[target.'cfg(any(target_os = "ios", target_os = "macos"))'.dependencies]
objc = "0.2.6"
glutin_gles2_sys = { version = "0.1.5", path = "../glutin_gles2_sys" }

[target.'cfg(target_os = "macos")'.dependencies]
cgl = "0.3"
cocoa = "0.24"
core-foundation = "0.9"

[target.'cfg(target_os = "windows")'.dependencies.winapi]
version = "0.3"
features = [
    "winnt",
    "winuser",
    "wingdi",
    "libloaderapi",
]

[target.'cfg(target_os = "windows")'.dependencies]
libloading = "0.7"
glutin_wgl_sys = { version = "0.1.5", path = "../glutin_wgl_sys" }
glutin_egl_sys = { version = "0.1.5", path = "../glutin_egl_sys" }
parking_lot = "0.11"

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os = "dragonfly", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
osmesa-sys = "0.1"
wayland-client = { version = "0.29", features = ["dlopen"], optional = true }
wayland-egl = { version = "0.29", optional = true }
libloading = "0.7"
glutin_egl_sys = { version = "0.1.5", path = "../glutin_egl_sys" }
glutin_glx_sys = { version = "0.1.7", path = "../glutin_glx_sys", optional = true }
parking_lot = "0.11"
log = "0.4"
